.week-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-width: 344px;
    width: 20dvw;
    

    /* grid-template-columns: min-content   min-content    min-content    min-content    min-content    min-content    min-content; */
}

div-show{
    place-self:center;
    margin: 3px;
    width:10vdw;
    height :10vdw;
    max-width: 40px;
}