.container {
    background-color: #FFFFE3 ;
}
.container1{
    background-color:#FFF1E3 ;
}
.container2{
    background-color:#F1FFE3 ;
}   
div{
    height : 100px;
    width:200px
}
a{
    width: 80dvw;
    height: 30px;
    padding:10px;
    background-color: rgb(186, 248, 248);
    margin :5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}