.container {
    background-color: #FFFFE3 ;
}
.container1{
    background-color:#FFF1E3 ;
}
.container2{
    background-color:#F1FFE3 ;
} 
button,a{
  min-height: 40px;
  background-color: rgb(186, 248, 248);
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  place-self: center;
}
a{
  text-decoration: none;
  background-color: #00000000;
  padding: 10px;
  margin: 5px;

}