/* src/app/day/day.css */

.task-button {
  color: black;
  height :15dvh;
  max-height: fit-content; /* Adjust as needed */
  padding: 10px;
}
.task-button.completed {
  background-color: #4CAF50; /* Green */
  color: white;
}
.task-list{
  width:100dvw;
  height: 100dvh;
}
.day-details{
  width:80dvw;
  display: grid;
  grid-template-columns: 1fr;
  min-width:300px;
}