/* src/app/day/day.css */

.task-button {
  width: 80dvw;
  height: 40px;
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
  color: black;
  max-height: 300px; /* Adjust as needed */
  text-align: left;
  display: grid;
}
.task-button.completed {
  background-color: #4CAF50; /* Green */
  color: white;
}